*{
  font-family: 'Courier New', Courier, monospace;
  font-size: 110%;
  background-color:burlywood;
}
p{
  color:whitesmoke;
  font-weight: bold;
}
s#NB{
  color:brown;
  font-weight:bold;
}
b#NB{
  color:blueviolet;
}
